/* Remove annoying defaults */
* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;  
}

/* Everything goes in here */
.page-container {
    width: 1280px;
    height: 720px;
}

/* The wonderful hamster graphic in the corner */
.bug {
    position: absolute;
    z-index: 100;
}

/* Progress Bars */
.bar-container {
    position: absolute;
    width: 227px;
    height: 20px;
    top: 81px;
    left: 123px;
    font-family: "FatFrank";
    color: white;
    font-size: 0.85em;
    text-align: center;
}

.bar {
    border-radius: 0px 0px 10px 0px;
    width: 100%;    
    margin-top: -19px;
}

.bar-progress {
    height: 20px;
    border-radius: 0px 0px 10px 0px;
}

#follow-bar {
    background-color: #4c2271;
}

#follower-progress {
    background-color: #853dc4;
}

#subscribe-bar {
    background-color: #800c4f;
}

#subscriber-progress {
    background-color: #df158a;
}

#view-bar {
    background-color: #1fbaed;
}

#view-progress {
    background-color: #1fbaed;
}

#sparkswasted-bar {
    background-color: #B32600;
}

#sparkswasted-progress {
    background-color: #ff7200;
}

/* Giveaway System */
.giveaway-container {
    position: absolute;
    width: 300px;
    left: 980px;
    height: 100%;
    background-color: #491169;
}

.giveaway-header {
    background-color: #300050;
    font-family: "FatFrank";
    color: white;
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.giveaway-header-subtitle {
    font-size: 0.5em;
}

.giveaway-footer {
    background-color: #300050;
    color: white;
    font-family: "FatFrank";
    font-size: 0.7em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    width: 100%;
    top: 695px;
}


.giveaway-userbox {
    background-color: #ffd200;
    color: white;
    font-family: "FatFrank";
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    padding: 6px;
    font-size: 20px;
    border-bottom: 4px solid #CC9F00;
    margin-bottom: 4px;
}

.giveaway-userbox img {
    width: 30px;
    height: auto;
}

.giveaway-userbox .giveaway-username {
    margin-left: 34px;
    margin-top: -32px;
    padding-left: 4px;
    padding-right: 4px;
    overflow: hidden;
}

.giveaway-entries {
    height: 398px;
    overflow: hidden;
}

#giveaway-countdown {
    font-size: 3em;
}